.txtmsib-c {
    background: linear-gradient(80deg, #19c6c2 10%, #8a3dff 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: normal;
  }
  .crdminews {
    margin-top: -35pc;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.37);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16.8px);
    -webkit-backdrop-filter: blur(16.8px);
    border: none !important;
  }
  
  .msibtext {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: white;
    font-size: 20px;
  }
  
  .msibtxtcont {
    font-family: "Poppins";
    font-weight: 400;
    color: white;
    font-size: 15px;
  }
  
  .msibcrdtxt {
    font-family: "Montserrat";
    font-weight: 300;
    color: white;
    font-size: 13px;
    line-height: normal;
  }
  
  .cardtitle {
    font-family: "Montserrat";
    font-weight: 600;
    color: white;
    font-size: 18px;
    line-height: normal;
  }

  .lear-heading h1 {
    font-size: 36px;
    font-weight: bold;
    color: #eae7e7;
    font-family: "Poppins", sans-serif;
  }
  
  