@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  overflow-x: hidden;
}
.clasbig {
  max-width: 100% !important;
}
.txtab span {
  background: linear-gradient(90deg, #19c6c2 50%, #8a3dff 82.5%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.txt-cvr {
  max-width: 1145px;
  width: 100%;
  margin-top: -70px;
  margin-left: -130px;
}
.txt-screen {
  font-family: "Poppins", sans-serif;
  color: #181823;
}
.txt-screen1 {
  padding: 50px;
  background-color: #181823;
  border-radius: 44px;
  background-image: linear-gradient(90deg, #181823, #181823),
    linear-gradient(90deg, hsl(179, 60%, 49%), hsl(264, 100%, 62%));
  background-clip: padding-box, border-box;
  background-origin: border-box;
  border: 2px solid transparent;
}
.txt-screen1 h1 {
  font-size: 36px;
  color: #eae7e7;
  font-weight: bold;
}
.txt-screen1 h3 {
  font-size: 20px;
  color: #eae7e7;
}
.txt-screen2 {
  padding: 70px;
}
.position-relative {
  position: relative;
}
.absolute-center {
  position: absolute;
  top: 39%;
  left: 42%;
  transform: translate(-50%, -50%);
}
.absolute-center2 {
  position: absolute;
  top: 39%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.custom-svg {
  z-index: 1;
  position: relative;
}
.responsive-text {
  word-spacing: 15px;
}

.hover-zoom {
  display: inline-block;
  position: relative;
}
.hover-zoom:hover .text-excellence {
  font-size: 68px;
  transition: font-size 0.3s ease, color 0.3s ease;
  color: #be2cd2;
  position: relative;
  opacity: 0.8;
}
.hover-zoom:hover .text-01 {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.hover-zoom:hover .hover-img {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.text-excellence {
  font-size: 64px;
  opacity: 1;
  transition: font-size 0.3s ease, opacity 0.3s ease;
  position: absolute;
  bottom: 100%;
}
.hover-img {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  right: 0;
  width: 300px;
  margin-right: 8pc;
}
.hover-img.active {
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .responsive-width {
    width: 100%;
    max-width: 100%;
    margin-top: 1.5em;
  }
  .responsive-width2 {
    width: 100%;
    max-width: 100%;
    margin-top: 1.5em;
  }
}
@media screen and (max-width: 480px) {
  .responsive-text {
    font-size: 1.8rem;
  }
  .responsive-text2 {
    font-size: 1.8rem;
  }
  .custom-svg {
    width: 6em;
    height: 3.17em;
  }
  .absolute-center {
    top: 40%;
    left: 32%;
  }
}
.container {
  width: 209px;
  height: 209px;
  padding: 0;
  background: linear-gradient(to bottom right, #32c7c4, #8a3dff);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 33px;
}
.h1 {
  font-family: montserrat, sans serif;
  font-size: 48px;
  margin: 60px;
  font-weight: 700;
  text-align: center;
}
.h2 {
  font-family: montserrat, sans serif;
  font-size: 20px;
  margin: -60px;
  font-style: normal;
  text-align: center;
}
.cardabout {
  border: none !important;
}
.pttrnab {
  margin-top: 41pc;
  z-index: -100 !important;
}
