@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.navbar {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  padding: 3.5px !important;
  color: #eae7e7;
  background: #212130;
  background-image: linear-gradient(90deg, #212130, #212130),
    linear-gradient(90deg, hsl(179, 60%, 49%), hsl(264, 100%, 62%));
  background-clip: padding-box, border-box;
  background-origin: border-box;
  border: 2px solid transparent;
}
.menu li > *:not(ul, .menu-title, details, .btn):active,
.menu li > *:not(ul, .menu-title, details, .btn).active,
.menu li > details > summary:active {
  background-color: #212130 !important;
  color: #f5d364 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navlink:hover {
  background-color: white !important;
}
.btncont {
  width: 200px;
  height: 62px;
  outline: 0.5px solid #8a3dff;
  outline-offset: 2px;
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: color 0.3s;
}
.var {
  z-index: 9999;
  transition: background-color 0.5s ease;
}
.mencss {
  width: 900px !important;
  margin-left: -10pc !important;
}
@media (max-width: 1024px) {
  .navbar {
    background-image: none;
    background: none;
  }
}
