@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.txt{
    background: linear-gradient(80deg, #19c6c2 10%, #8a3dff 40%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    line-height: normal;
    font-style: normal;
}

.headhmour {
    background: linear-gradient(80deg, #19c6c2 10%, #8a3dff 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.rating .mask {
    margin-left: 10px;
    color: #19c6c2; 
}